/*normal*/
.resource-container {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0 50px;
}
.list-normal {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.list-normal .normal-li {
    position: relative;
    display: inline-block;
    width: 255px;
    margin-right: 50px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background-color: white;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    vertical-align: text-top;
    transition: transform 0.3s;
}
.list-normal .normal-li:last-child {
    margin-right: 0;
}
.normal-li:hover {
    z-index: 2;
    box-shadow: 0px 5px 25px 0px rgba(64,64,64,0.3);
    transform: scale(1.08)
}
.list-normal .img-container {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}
.list-normal img {
    width: 100%;
}
.resource-title {
    font-size: 25px;
}
.img-desc {
    display: block;
    padding: 15px;
    color: white;
}
.normal-li:nth-child(4n + 1) {
    border: 1px solid #003b4d;
    background-color: #003b4d ;
}
.normal-li:nth-child(4n + 2) {
    border: 1px solid #3a913f;
    background-color: #3a913f;
}
.normal-li:nth-child(4n + 3) {
    border: 1px solid #00758f;
    background-color: #00758f;
}
.normal-li:nth-child(4n + 4) {
    border: 1px solid #f29111;
    background-color: #f29111;
}