.ant-layout-aside .ant-layout-sider {
  height: 100vh;
  position: fixed; }

.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px; }

.anticon-close-circle:hover {
  color: #999; }

.anticon-close-circle:active {
  color: #666; }

.meta-str .anticon-close-circle {
  display: none; }

.meta-str:hover .anticon-close-circle {
  display: inline-block; }

.ant-layout-logo {
  color: #eee;
  font-size: 20px;
  text-align: center; }

h1 .title-anchor, h2 .title-anchor, h3 .title-anchor, h4 .title-anchor, h5 .title-anchor, h6 .title-anchor {
  font-size: 15px;
  display: none;
  color: #c9c9c9; }

h1:hover .title-anchor, h2:hover .title-anchor, h3:hover .title-anchor, h4:hover .title-anchor, h5:hover .title-anchor, h6:hover .title-anchor {
  display: inline-block;
  color: #0b97c4 !important; }

div.markdown-body code.lang-javascript {
  font-size: 13px; }

.home-anchor {
  position: fixed;
  top: 0;
  right: 0; }

.not-found {
  font-size: 20vw;
  text-align: center; }

.hera-bill .inline-btn {
  border-right: 2px solid #ccc;
  padding: 0 5px; }

.hera-bill .inline-btn.inline-btn:last-child {
  border-right: none;
  margin-right: 0; }

.hera-bill .is-not-validate .ant-input {
  border: 1px solid red; }

.hera-bill .is-not-validate .ant-select-selection {
  border: 1px solid red; }

.hera-bill .is-not-validate.ant-input-number {
  border: 1px solid red; }

.hera-bill .ant-select, .hera-bill .ant-input-number {
  width: 100%; }
