.ant-layout-aside {
  .ant-layout-sider {
    height: 100vh;
    position: fixed;
  }
}


.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}
.anticon-close-circle:hover {
  color: #999;
}
.anticon-close-circle:active {
  color: #666;
}
.meta-str {
  .anticon-close-circle {
    display: none;
  }
  &:hover {
    .anticon-close-circle {
      display: inline-block;
    }
  }
}

.ant-layout-logo {
  color: #eee;
  font-size: 20px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  .title-anchor {
    font-size: 15px;
    display: none;
    color: #c9c9c9;
  }
  &:hover .title-anchor {
    display: inline-block;
    color: #0b97c4 !important;
  }
}

div.markdown-body {
  code.lang-javascript {
    font-size: 13px;
  }
}

.home-anchor {
  position: fixed;
  top: 0;
  right: 0;
}

.not-found {
  font-size: 20vw;
  text-align: center;
}

.hera-bill {
  .is-not-validate {
    .ant-input {
      border: 1px solid red;
    }
    .ant-select-selection {
      border: 1px solid red;
    }
    &.ant-input-number {
      border: 1px solid red;
    }
  }
  .ant-select, .ant-input-number {
    width: 100%;
  }
}