.todo-container {
  min-height: 280px;
  position: relative;
  padding: 30px;
  &:hover {
    .tool-tips {
      opacity: 1;
    }
  }
  .tool-tips {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.2s linear;
    z-index: 2;
    margin-right: 5px;
    .tool-btn {
      display: inline-block;
      padding: 5px;
      font-weight: bolder;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        color: #5182bb;
      }
    }
  }
  div.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #aaa;
    background: #000;
    opacity: 0.5;
    transition: all 0.3s;
    .drag-tips {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
    }
  }
  ul.todo-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    div.no-content {
      height: 200px;
      line-height: 200px;
      color: #aaa;
    }
    li.todo-li {
      position: relative;
      padding: 5px;
      margin: 0 10px;
      transition: all 0.2s linear;
      &:hover {
        color: #5182bb;
        background: #f1f1f1;
        border: 3px;
        cursor: pointer;
        transform: scale(1.04);
        .li-tool {
          opacity: 1;
        }
      }
      &.drag-over {
        border: 1px dotted white;
      }
      .li-tool {
        position: absolute;
        top: 0;
        opacity: 0;
        margin: 0 5px;
        transition: all 0.2s linear;
        &.right {
          right: 0;
        }
        &.left {
          left: 0;
        }
        .li-btn {
          display: inline-block;
          padding: 5px 3px;
        }
      }
    }
    input {
      text-align: center;
    }
  }
}