* {
  box-sizing: border-box; }

.clear-fix {
  overflow: hidden;
  _zoom: 1; }

.center {
  text-align: center; }

.line {
  position: relative;
  display: inline-block; }

.line:before {
  content: ' ';
  display: block;
  position: relative;
  top: 15px;
  width: 300px;
  height: 2px;
  z-index: -1;
  background: linear-gradient(to right, #fff, #D93127 15%, #f00 50%, #D93127 85%, #fff 100%); }

#content {
  width: 100%;
  overflow: hidden;
  font-size: 0;
  color: #666; }

#content h1, #content h2 {
  color: #505666; }

#content .section {
  position: relative;
  padding: 20px;
  font-size: 14px; }

#content .separator {
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 auto;
  background: #00b0e8;
  border-radius: 5px; }

#content .fir-section {
  background: #F8FAFE;
  text-align: left;
  min-height: 400px;
  padding: 50px 30px 80px 30px;
  font-size: 16px; }

#content .fir-section .content-wrapper {
  padding-top: 60px;
  padding-left: 20px; }

#content .fir-section .content-wrapper span.product {
  font-weight: bold; }

#content .fir-section .content-wrapper li {
  padding: 10px 0; }

#content .fir-section h2 {
  padding-left: 10px; }

#content .fir-section .list {
  bottom: 10px;
  display: inline-block;
  font-size: 16px;
  padding: 5px 0; }

#content .fir-section .list img {
  width: 100%;
  opacity: 0.8;
  border-radius: 5px; }

#content .fir-section .list .product {
  font-weight: bold; }

#content .fir-section .slick-list {
  display: block;
  background: #f4f4f6;
  width: 100%;
  height: 350px;
  border-radius: 5px; }

#content .sec-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px; }

#content .sec-section .separator {
  background: #00b0e8; }

#content .sec-section .content-wrapper {
  display: inline-block;
  width: 60%;
  padding: 150px 0 0 100px;
  height: 265px;
  vertical-align: middle;
  text-align: center; }

#content .sec-section .content-wrapper p {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 16px; }

#content .sec-section .flow-desc {
  position: absolute;
  top: 180px;
  right: 25px;
  width: 25px;
  font-size: 15px; }

#content .sec-section .flow-desc span.step-desc {
  display: block;
  padding: 5px;
  color: white;
  border: 1px solid white; }

#content .sec-section .flow-desc span.step-desc.base {
  height: 180px;
  margin-bottom: 15px;
  padding-top: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #F8A95B; }

#content .sec-section .flow-desc span.step-desc.process {
  height: 230px;
  padding-top: 70px;
  margin-bottom: 15px;
  background: #00b0e8; }

#content .sec-section .flow-desc span.step-desc.view {
  height: 80px;
  padding-top: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #37CB81; }

#content .sec-section .flow-chart {
  position: absolute;
  top: 120px;
  right: 20px; }

#content .third-section {
  position: relative;
  display: inline-block;
  top: 160px;
  width: 100%;
  min-height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #37CB81;
  text-align: center; }

#content .third-section h1, #content .third-section h2 {
  color: white; }

#content .third-section .separator {
  background: white;
  margin-bottom: 20px; }

#content .third-section .bg-banner {
  position: absolute;
  top: -100px;
  right: 0;
  width: 120%;
  height: 100%;
  z-index: -3;
  background: #37CB81;
  transform: translate(0px, 0px) rotate(5deg); }

#content .third-section .platform {
  margin-top: 40px; }

#content .third-section .platform .img-collection {
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  background: white; }

#content .third-section .platform img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 0 10px #aaa;
  vertical-align: middle;
  transition: transform 0.3s; }

#content .third-section .platform img.op-border {
  border: 2px solid #505666; }

#content .third-section .platform img:hover {
  box-shadow: 1px 1px 20px #999; }

#content .third-section .platform .dv-data {
  display: inline-block;
  width: 140px;
  padding: 0 20px;
  color: black;
  background: white;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle; }

#content .third-section .platform .anticon {
  width: 100px;
  height: 100px;
  color: white;
  line-height: 100px;
  vertical-align: middle;
  font-size: 80px; }

#content .forth-section {
  position: relative;
  display: inline-block;
  padding-top: 80px;
  width: 100%;
  min-height: 500px;
  margin-top: 90px;
  background: #37CB81;
  background-size: contain;
  background-repeat: no-repeat; }

#content .forth-section h1, #content .forth-section h2 {
  text-align: center;
  color: white;
  background: #37CB81; }

#content .forth-section .separator {
  background: white;
  margin-bottom: 20px; }

#content .fifth-section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

#content .fifth-section .role-desc {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px; }

#content .fifth-section .role-desc span {
  display: inline-block;
  background: white;
  padding: 0 10px; }

#content .fifth-section .role-container {
  width: 300px;
  margin: 0 auto; }

#content .fifth-section .role-container .role {
  display: inline-block;
  width: 150px;
  text-align: center;
  cursor: pointer; }

#content .fifth-section .role-container .role:hover {
  color: #D93127; }

#content .fifth-section .role-container .role .role-img {
  transition: transform 0.3s; }

#content .fifth-section .role-container .role .role-img:hover {
  transform: scale(1.08); }

#content .fifth-section .role-container .role .role-name {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold; }

.flow-chart {
  position: relative;
  display: inline-block;
  width: 60%;
  margin-top: 20px;
  font-size: 0;
  vertical-align: middle; }

.flow-chart .step-container {
  font-size: 14px;
  text-align: center; }

.flow-chart .step-container .step {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px;
  color: white;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(84, 48, 132, 0.06);
  cursor: default;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); }

.flow-chart .step-container .step:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 10px #999; }

.flow-chart .step-container .step.base {
  background: #F8A95B; }

.flow-chart .step-container .step.process {
  background: #00b0e8; }

.flow-chart .step-container .step.view {
  width: 120px;
  background: #37CB81;
  margin-top: 10px;
  border: 2px solid #eee; }

.flow-chart .step-container .step.view .step-li {
  display: block;
  margin-top: 0; }

.flow-chart .step-container .step .step-li {
  padding: 5px;
  margin-top: 5px; }

.flow-chart .branch {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
  padding: 10px; }

.flow-chart .branch.branch-left {
  margin-left: 20%; }
